$WHITE_DEFAULT: #f7f8f8;
$BLACK_DEFAULT: #16161d;
$BLACK_MODULE: #202022;
$BLACK_MODAL: #3a3a3a;
$BLUE_DEFAULT: #46bcff;

$GOLD_DEFAULT: #e2c16c;
$GRAY_DEFAULT: #808080;
$GREEN_DEFAULT: #6ca55d;

$RED_DEFAULT: #bd5555;
$MAIN_DEFAULT: #5dc6f1;
