@tailwind base;
@tailwind components;
@tailwind utilities;
/* playfair-display-regular - latin */
@keyframes show {
  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}
@keyframes up {
  30% {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, -4px, 0);
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0px, 0px);
    -moz-transform: translate3d(0, 0px, 0px);
    -ms-transform: translate3d(0, 0px, 0px);
    transform: translate3d(0, 0px, 0px);
  }
}
@keyframes slideUp {
  0% {
    top: -1000px;
  }
  100% {
    top: 0px;
  }
}
@keyframes slideDown {
  0% {
    bottom: -1000px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes slideRight {
  0% {
    left: 0px;
  }
  100% {
    left: -1000px;
  }
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/Butler_Light.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/Butler_Regular.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 600;
  src: url("../src/assets/fonts/Butler_Medium.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/Butler_Bold.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 800;
  src: url("../src/assets/fonts/Butler_ExtraBold.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 900;
  src: url("../src/assets/fonts/Butler_Black.otf") format("otf");
}
#__next {
  overflow: hidden;
}

.background-image {
  background-image: url("../src/assets/img/bg4.png");
  background-size: cover;
  min-height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Butler";
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 20;
  font-size: 1.8rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.navbar__none {
  z-index: 0;
}
.navbar .nav-link {
  text-decoration: none;
  position: relative;
}
.navbar .nav-link::after {
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: black;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}
.navbar .nav-link:hover::after {
  width: 100%;
  opacity: 0.9;
}
@media screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }
}

.navbar-menu {
  position: relative;
}

.burger-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #5dc6f1;
  width: 5rem;
  height: 5rem;
  border-radius: 30%;
  right: -15rem;
  top: 50%;
  transition: all 0.3s ease-out 0s;
  z-index: 50;
}
@media screen and (max-width: 1200px) {
  .burger-nav {
    transform: translateX(-20rem);
  }
}
.burger-nav__opened {
  transform: translateX(-20rem);
}

.stack {
  min-height: 300px;
}

.translateX20 {
  transform: translateX(-20rem);
}

.navbar-opened {
  top: 0;
  left: 0;
  position: fixed;
  display: grid;
  grid-template-areas: "left left left header header header " "left left left header  header header" "bottom bottom contact header header header";
}

.zIndex {
  z-index: 20;
}

.item-a {
  top: -1000px;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-area: header;
  background-color: rgb(36, 36, 36);
  transition: all 0.5s ease-out;
}
.item-a__opened {
  top: 0px;
}
.item-a__container {
  margin: 0 auto 0 auto;
}
.item-a .link-list {
  margin: auto 0 auto 0;
  color: white;
  list-style: none;
  font-size: 5rem;
  font-weight: bold;
  width: fit-content;
}
.item-a .link-list .link-item {
  transition: all 1s ease;
  cursor: pointer;
}
.item-a .link-list .link-item:hover {
  color: #5dc6f1;
}

.item-b {
  left: -1000px;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-area: left;
  transition: all 0.5s ease-out;
  background-color: #5dc6f1;
}
.item-b .back-image {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../src/assets/img/jobhunt3.png");
  opacity: 0.5;
  background-size: cover;
}
.item-b__opened {
  left: 0px;
}
.item-b .nav-dash {
  position: relative;
  height: 100%;
  z-index: 10;
  overflow: scroll;
}

.item-c {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -1000px;
  grid-area: bottom;
  background-color: #386583;
  transition: all 0.5s ease-out;
}
.item-c__opened {
  bottom: 0px;
}

.item-d {
  grid-area: contact;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #184869;
  transition: all 0.5s ease-out;
}
.item-d__opened {
  width: 100%;
}

.hero-section {
  padding-top: 10rem;
}

.hero-container {
  height: 10rem;
  overflow: hidden;
}

.letter {
  display: inline-block;
  color: #282828;
  position: relative;
  z-index: 1;
  top: 0px;
  line-height: 120px;
  top: 0px;
  margin-right: -10px;
  -webkit-transform: translate3d(0, 120px, 0);
  -moz-transform: translate3d(0, 120px, 0);
  -ms-transform: translate3d(0, 120px, 0);
  transform: translate3d(0, 120px, 0);
}

.a::after {
  content: "A";
}

.l::after {
  content: "l";
}

.d::after {
  content: "d";
}

.i::after {
  content: "i";
}

.a2::after {
  content: "a";
}

.a:after,
.l:after,
.d:after,
.i:after,
.a2:after {
  position: absolute;
  left: 0;
  top: 0px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  color: balck;
  -webkit-text-stroke: 5px;
  opacity: 1;
  z-index: 100;
}

.letter:nth-child(1) {
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
}
.letter:nth-child(1):after {
  animation-delay: 2.7s;
  -webkit-animation-delay: 2.7s;
}

.letter:nth-child(2) {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
.letter:nth-child(2):after {
  animation-delay: 2.9s;
  -webkit-animation-delay: 2.9s;
}

.letter:nth-child(3) {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
}
.letter:nth-child(3):after {
  animation-delay: 3.1s;
  -webkit-animation-delay: 3.1s;
}

.letter:nth-child(4) {
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}
.letter:nth-child(4):after {
  animation-delay: 3.3s;
  -webkit-animation-delay: 3.3s;
}

.letter:nth-child(5) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.letter:nth-child(5):after {
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
}

.letter:nth-child(6) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
.letter:nth-child(6):after {
  animation-delay: 3.7s;
  -webkit-animation-delay: 3.7s;
}

.letter:nth-child(7) {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}
.letter:nth-child(7):after {
  animation-delay: 3.9s;
  -webkit-animation-delay: 3.9s;
}

.letter {
  -webkit-animation: show 0.3s 1s 1 ease-out forwards;
  -moz-animation: show 0.3s 1s 1 ease-out forwards;
  -o-animation: show 0.3s 1s 1 ease-out forwards;
  animation: show 0.3s 1s 1 ease-out forwards;
}

.dash-men {
  font-size: 1.4rem;
}

.btn-dash {
  transition: all 0.2s ease-in;
}
.btn-dash:hover {
  background-color: transparent;
  transform: translateX(5px);
}

.job-boxes {
  min-height: 120px;
  width: 90%;
  margin: auto;
}
.job-boxes:hover {
  transform: translateY(-2px);
}
.job-boxes .job-content {
  display: flex;
  align-items: center;
}
.job-boxes .button-fav {
  background-color: transparent;
}
.job-boxes .button-fav:hover {
  background-color: transparents;
}

.stroke {
  position: relative;
}

.backImage {
  position: absolute;
  left: -100px;
  z-index: -1;
}
.backImage2 {
  position: absolute;
  right: -50px;
  z-index: -1;
}

/*# sourceMappingURL=main.css.map */
