@use "sass" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* playfair-display-regular - latin */
@include show;
@include up;
@include slideUp;
@include slideDown;
@include slideRight;

// @font-face {
//   font-family: "Playfair Display";
//   font-style: normal;
//   font-weight: 400;
//   src: url("../src/assets/fonts/playfair-display-v30-latin-regular.woff2")
//     format("woff2");
// }
// /* playfair-display-500 - latin */
// @font-face {
//   font-family: "Playfair Display";
//   font-style: normal;
//   font-weight: 500;
//   src: url("../src/assets/fonts/playfair-display-v30-latin-500.woff2")
//     format("woff2");
// }
// /* playfair-display-600 - latin */
// @font-face {
//   font-family: "Playfair Display";
//   font-style: normal;
//   font-weight: 600;
//   src: url("../src/assets/fonts/playfair-display-v30-latin-600.woff2")
//     format("woff2");
// }
// /* playfair-display-700 - latin */
// @font-face {
//   font-family: "Playfair Display";
//   font-style: normal;
//   font-weight: 700;
//   src: url("../src/assets/fonts/playfair-display-v30-latin-700.woff2")
//     format("woff2");
// }
// /* playfair-display-800 - latin */
// @font-face {
//   font-family: "Playfair Display";
//   font-style: normal;
//   font-weight: 800;
//   src: url("../src/assets/fonts/playfair-display-v30-latin-800.woff2")
//     format("woff2");
// }
// /* playfair-display-900 - latin */
// @font-face {
//   font-family: "Playfair Display";
//   font-style: normal;
//   font-weight: 900;
//   src: url("../src/assets/fonts/playfair-display-v30-latin-900.woff2")
//     format("woff2");
// }
// /* playfair-display-italic - latin */
// @font-face {
//   font-family: "Playfair Display";
//   font-style: italic;
//   font-weight: 400;
//   src: url("../src/assets/fonts/playfair-display-v30-latin-italic.woff2")
//     format("woff2");
// }
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/Butler_Light.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/Butler_Regular.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 600;
  src: url("../src/assets/fonts/Butler_Medium.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/Butler_Bold.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 800;
  src: url("../src/assets/fonts/Butler_ExtraBold.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 900;
  src: url("../src/assets/fonts/Butler_Black.otf") format("otf");
}
// Futura PT
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/Futura\ Light\ font.ttf") format("ttf");
}
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/Futura\ Book\ font.ttf") format("ttf");
}
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 600;
  src: url("../src/assets/fonts/futura\ medium\ bt.ttf") format("ttf");
}
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/Futura\ Bold\ font.ttf") format("ttf");
}
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 800;
  src: url("../src/assets/fonts/Futura\ Extra\ Black\ font.ttf") format("ttf");
}
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 900;
  src: url("../src/assets/fonts/Futura\ XBlk\ BT.ttf") format("ttf");
}
#__next {
  overflow: hidden;
}
.background-image {
  background-image: url("../src/assets/img/bg8.png");
  background-size: cover;
  min-height: 100vh;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Futura";
  font-size: 62.5%;
  overflow-x: hidden;
  color: #19192b;
}
* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 20;
  font-size: 1.8rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);

  &__none {
    z-index: 0;
  }
  .nav-link {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    &::after {
      bottom: -4px;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      background: black;
      opacity: 0.6;
      transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
      width: 0;
    }
    &:hover::after {
      width: 100%;
      opacity: 0.9;
    }
  }
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.navbar-menu {
  position: relative;
}

.burger-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #5dc6f1;
  width: 5rem;
  height: 5rem;
  border-radius: 30%;
  right: -15rem;
  top: 50%;
  transition: all 0.3s ease-out 0s;
  z-index: 50;
  @media screen and (max-width: 1200px) {
    transform: translateX(-20rem);
  }
  &__opened {
    transform: translateX(-20rem);
  }
}

.stack {
  min-height: 300px;
}

.translateX20 {
  transform: translateX(-20rem);
}
.navbar-opened {
  top: 0;
  left: 0;
  position: fixed;
  display: grid;
  grid-template-areas:
    "left left left header header header "
    "left left left header  header header"
    "bottom bottom contact header header header";
}
.zIndex {
  z-index: 20;
}
.item-a {
  // animation: slideUp 0.3s ease-out;
  top: -1000px;

  position: absolute;
  width: 100%;
  height: 100%;
  grid-area: header;

  background-color: rgb(36, 36, 36);
  transition: all 0.5s ease-out;

  &__opened {
    top: 0px;
  }
  &__container {
    margin: 0 auto 0 auto;
  }
  .link-list {
    margin: auto 0 auto 0;
    color: white;
    list-style: none;
    font-size: 5rem;
    font-weight: bold;
    width: fit-content;
    .link-item {
      transition: all 1s ease;
      cursor: pointer;
    }
    .link-item:hover {
      color: #5dc6f1;
    }
  }
}
.item-b {
  // animation: slideRight 0.3s ease-out;
  left: -1000px;

  position: absolute;
  width: 100%;
  height: 100%;
  grid-area: left;
  transition: all 0.5s ease-out;
  .back-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../src/assets/img/jobhunt3.png");
    opacity: 0.5;
    background-size: cover;
  }
  &__opened {
    left: 0px;
  }
  .nav-dash {
    position: relative;
    height: 100%;
    z-index: 10;
    overflow: hidden;
  }
}
.item-c {
  position: absolute;
  width: 100%;
  height: 100%;
  // animation: slideDown 0.3s ease-out;
  bottom: -1000px;
  grid-area: bottom;
  background-color: #386583;
  transition: all 0.5s ease-out;

  &__opened {
    bottom: 0px;
  }
}
.item-d {
  grid-area: contact;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #184869;
  transition: all 0.5s ease-out;

  &__opened {
    width: 100%;
  }
}

.hero-section {
  padding-top: 10rem;
}
.hero-container {
  height: 10rem;
  overflow: hidden;
}

.dash-men {
  font-size: 1.4rem;
}

.btn-dash {
  transition: all 0.2s ease-in;
  &:hover {
    background-color: transparent;
    transform: translateX(5px);
  }
}

.job-boxes {
  min-height: 140px;
  cursor: pointer;
  width: 90%;
  margin: auto;
  &:hover {
    transform: translateY(-2px);
  }
  &--active {
    border: 2px solid #5dc6f1;
    transform: translateY((-2px));
  }

  .job-content {
    display: flex;
    align-items: center;
  }
  .button-fav {
    background-color: transparent;
    &:hover {
      background-color: transparents;
    }
  }
}

.stroke {
  position: relative;
  transition: all 1s ease;
  &--active1 {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  &--active2 {
    top: 0px;
    right: 0px;
    opacity: 1;
  }
}
.stroke--left {
  top: -200px;
  left: -200px;
  opacity: 0;
}
.stroke--right {
  top: -100px;
  right: -200px;
  opacity: 0;
}
.backImage {
  width: 100%;
  position: absolute;
  left: -100px;
  z-index: 0;

  &2 {
    max-width: 90vw;
    position: absolute;
    right: 20px;
    z-index: 0;
    overflow-x: hidden;
  }
}

.text__service {
  position: relative;
  z-index: 1;
}

.card {
  cursor: pointer;
  z-index: 5;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 42rem;
  &__side {
    height: 42rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

    &--back {
      transform: rotateY(180deg);

      &-1 {
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}

.buttonCard {
  padding: 1rem 3rem;
  background-color: #386583;
}
.buttonCard:hover {
  background-color: #184869;
}
.arrow {
  transition: all 0.5s;
}
.arrowDown {
  transform: rotate(0deg);
}
.arrowUp {
  transform: rotate(180deg);
}
.dropdownMenu {
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 500;
  font-size: 1.8rem;

  &--inactive {
    height: 0%;
  }
  &--active {
    height: 14rem;
  }
}

.subLink {
  transition: all 0.5s;
  width: fit-content;
  &:hover {
    font-weight: 600;
  }
}

.cardIndustry {
  border-radius: 15px;
  overflow: hidden;
  background-image: url("../src/assets/img/factory.jpg");
  background-size: cover;
  width: 500px;
  height: 300px;
  position: relative;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    &:hover {
      background-color: #5dc6f1;
    }
  }
  &:hover {
    background: linear-gradient(rgba(#5dc6f1, 0.5), rgba(#5dc6f1, 0.5)),
      url("../src/assets/img/factory.jpg");
    background-size: cover;
  }
  &:hover .learn-more {
    bottom: 10px;
  }
}
.learn-more {
  position: relative;
  bottom: -90px;
  transition: all 0.5s;
  &:hover {
    transform: translateX(5px);
    color: #5dc6f1;
  }
}

.careerBG {
  background-image: url("../src/assets//img//Carreers.svg");
  background-size: cover;
  height: 90vh;
}

.cardCareers {
  height: 50rem;
  width: 30rem;
  position: relative;
  border-radius: 15px;
  transition: all 0.5s;
  &--cover {
    position: absolute;
    height: 50rem;
    width: 30rem;
    top: 0px;
    left: 0px;
    background-color: #f9f871;
    border-radius: 15px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    &:hover {
      opacity: 0;
    }
  }
  &--inside {
    background-color: #9bde7e;
    border-radius: 15px;
    height: 50rem;
    width: 30rem;
  }
}

.bg-contactus {
  background-image: url("../src/assets/img/helpcenter.svg");
  background-size: contain;
}

//Form
input {
  appearance: none;
  border-radius: 0;
}
input[type="text"] {
  font-size: 1.8rem;
}

.formBox__card {
  font-size: 1.8rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url("https://assets.codepen.io/285131/coffee_1.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 5%;
  position: relative;
}

.card-heading {
  position: absolute;
  left: 10%;
  top: 15%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #735400;
  line-height: 1.222;
  small {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.25em;
  }
}

.card-form {
  padding: 2rem 1rem 0;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  & + .input {
    margin-top: 1.5rem;
  }
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 0.5rem;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: #5dc6f1;
    & + .input-label {
      color: #5dc6f1;
      transform: translateY(-1.5rem);
    }
  }
}

.action {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0px);
  }
}

.action-button {
  font: inherit;
  font-size: 1.8rem;

  padding: 0.5em;
  width: 100%;
  font-weight: 500;
  background-color: #5dc6f1;
  border-radius: 6px;
  color: #fff;
  border: 0;
  &:focus {
    outline: 0;
  }
}

.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
  a {
    display: block;
    color: #5dc6f1;
    text-decoration: none;
  }
}
// Service Box
.box-service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  &__left {
    padding-right: 2rem;
  }
  &__right {
    padding: 3rem;
  }
  &__middle {
    height: 60rem;
  }
}
.line-service {
  position: absolute;
  height: -1rem;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  transform-origin: top;
  transition: height 1.5s;
  border: 1px solid #5dc6f1;
  &__first {
    height: 60rem;
  }
  &__second {
    height: 120rem;
  }
  &__third {
    height: 180rem;
  }
  &__fourth {
    height: 240rem;
  }
}

// Blur
.blurred {
  filter: blur(0.5rem);
}
.blurAnimation {
  animation: blurOut 0.8s ease-in;
}

@keyframes blurOut {
  0% {
    filter: blur(0.5rem);
  }

  50% {
    filter: blur(0.25rem);
  }

  75% {
    filter: blur(0.1rem);
  }

  100% {
    filter: blur(0rem);
  }
}
