@tailwind base;
@tailwind components;
@tailwind utilities;
/* playfair-display-regular - latin */
@keyframes show {
  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}
@keyframes up {
  30% {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  60% {
    -webkit-transform: translate3d(0, -4px, 0);
    -moz-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -7px, 0);
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0px, 0px);
    -moz-transform: translate3d(0, 0px, 0px);
    -ms-transform: translate3d(0, 0px, 0px);
    transform: translate3d(0, 0px, 0px);
  }
}
@keyframes slideUp {
  0% {
    top: -1000px;
  }
  100% {
    top: 0px;
  }
}
@keyframes slideDown {
  0% {
    bottom: -1000px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes slideRight {
  0% {
    left: 0px;
  }
  100% {
    left: -1000px;
  }
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/Butler_Light.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/Butler_Regular.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 600;
  src: url("../src/assets/fonts/Butler_Medium.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/Butler_Bold.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 800;
  src: url("../src/assets/fonts/Butler_ExtraBold.otf") format("otf");
}
@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 900;
  src: url("../src/assets/fonts/Butler_Black.otf") format("otf");
}
#__next {
  overflow: hidden;
}

.background-image {
  background-image: url("../src/assets/img/bg4.png");
  background-size: cover;
  min-height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Butler";
  font-size: 62.5%;
  overflow-x: hidden;
  color: #19192b;
}

* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 20;
  font-size: 1.8rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.navbar__none {
  z-index: 0;
}
.navbar .nav-link {
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.navbar .nav-link::after {
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: black;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}
.navbar .nav-link:hover::after {
  width: 100%;
  opacity: 0.9;
}
@media screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }
}

.navbar-menu {
  position: relative;
}

.burger-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #5dc6f1;
  width: 5rem;
  height: 5rem;
  border-radius: 30%;
  right: -15rem;
  top: 50%;
  transition: all 0.3s ease-out 0s;
  z-index: 50;
}
@media screen and (max-width: 1200px) {
  .burger-nav {
    transform: translateX(-20rem);
  }
}
.burger-nav__opened {
  transform: translateX(-20rem);
}

.stack {
  min-height: 300px;
}

.translateX20 {
  transform: translateX(-20rem);
}

.navbar-opened {
  top: 0;
  left: 0;
  position: fixed;
  display: grid;
  grid-template-areas: "left left left header header header " "left left left header  header header" "bottom bottom contact header header header";
}

.zIndex {
  z-index: 20;
}

.item-a {
  top: -1000px;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-area: header;
  background-color: rgb(36, 36, 36);
  transition: all 0.5s ease-out;
}
.item-a__opened {
  top: 0px;
}
.item-a__container {
  margin: 0 auto 0 auto;
}
.item-a .link-list {
  margin: auto 0 auto 0;
  color: white;
  list-style: none;
  font-size: 5rem;
  font-weight: bold;
  width: fit-content;
}
.item-a .link-list .link-item {
  transition: all 1s ease;
  cursor: pointer;
}
.item-a .link-list .link-item:hover {
  color: #5dc6f1;
}

.item-b {
  left: -1000px;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-area: left;
  transition: all 0.5s ease-out;
}
.item-b .back-image {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../src/assets/img/jobhunt3.png");
  opacity: 0.5;
  background-size: cover;
}
.item-b__opened {
  left: 0px;
}
.item-b .nav-dash {
  position: relative;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

.item-c {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -1000px;
  grid-area: bottom;
  background-color: #386583;
  transition: all 0.5s ease-out;
}
.item-c__opened {
  bottom: 0px;
}

.item-d {
  grid-area: contact;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #184869;
  transition: all 0.5s ease-out;
}
.item-d__opened {
  width: 100%;
}

.hero-section {
  padding-top: 10rem;
}

.hero-container {
  height: 10rem;
  overflow: hidden;
}

.dash-men {
  font-size: 1.4rem;
}

.btn-dash {
  transition: all 0.2s ease-in;
}
.btn-dash:hover {
  background-color: transparent;
  transform: translateX(5px);
}

.job-boxes {
  min-height: 140px;
  cursor: pointer;
  width: 90%;
  margin: auto;
}
.job-boxes:hover {
  transform: translateY(-2px);
}
.job-boxes--active {
  border: 2px solid #5dc6f1;
  transform: translateY(-2px);
}
.job-boxes .job-content {
  display: flex;
  align-items: center;
}
.job-boxes .button-fav {
  background-color: transparent;
}
.job-boxes .button-fav:hover {
  background-color: transparents;
}

.stroke {
  position: relative;
  transition: all 1s ease;
}
.stroke--active1 {
  top: 0px;
  left: 0px;
  opacity: 1;
}
.stroke--active2 {
  top: 0px;
  right: 0px;
  opacity: 1;
}

.stroke--left {
  top: -200px;
  left: -200px;
  opacity: 0;
}

.stroke--right {
  top: -100px;
  right: -200px;
  opacity: 0;
}

.backImage {
  width: 100%;
  position: absolute;
  left: -100px;
  z-index: 0;
}
.backImage2 {
  max-width: 90vw;
  position: absolute;
  right: 20px;
  z-index: 0;
  overflow-x: hidden;
}

.text__service {
  position: relative;
  z-index: 1;
}

.card {
  cursor: pointer;
  z-index: 5;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 42rem;
}
.card__side {
  height: 42rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--back {
  transform: rotateY(180deg);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

.buttonCard {
  padding: 1rem 3rem;
  background-color: #386583;
}

.buttonCard:hover {
  background-color: #184869;
}

.arrow {
  transition: all 0.5s;
}

.arrowDown {
  transform: rotate(0deg);
}

.arrowUp {
  transform: rotate(180deg);
}

.dropdownMenu {
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 500;
  font-size: 1.8rem;
}
.dropdownMenu--inactive {
  height: 0%;
}
.dropdownMenu--active {
  height: 14rem;
}

.subLink {
  transition: all 0.5s;
  width: fit-content;
}
.subLink:hover {
  font-weight: 600;
}

.cardIndustry {
  border-radius: 15px;
  overflow: hidden;
  background-image: url("../src/assets/img/factory.jpg");
  background-size: cover;
  width: 500px;
  height: 300px;
  position: relative;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardIndustry::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}
.cardIndustry::before:hover {
  background-color: #5dc6f1;
}
.cardIndustry:hover {
  background: linear-gradient(rgba(93, 198, 241, 0.5), rgba(93, 198, 241, 0.5)), url("../src/assets/img/factory.jpg");
  background-size: cover;
}
.cardIndustry:hover .learn-more {
  bottom: 10px;
}

.learn-more {
  position: relative;
  bottom: -90px;
  transition: all 0.5s;
}
.learn-more:hover {
  transform: translateX(5px);
  color: #5dc6f1;
}

.careerBG {
  background-image: url("../src/assets//img//Carreers.svg");
  background-size: cover;
  height: 90vh;
}

.cardCareers {
  height: 50rem;
  width: 30rem;
  position: relative;
  border-radius: 15px;
  transition: all 0.5s;
}
.cardCareers--cover {
  position: absolute;
  height: 50rem;
  width: 30rem;
  top: 0px;
  left: 0px;
  background-color: #f9f871;
  border-radius: 15px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}
.cardCareers--cover:hover {
  opacity: 0;
}
.cardCareers--inside {
  background-color: #9bde7e;
  border-radius: 15px;
  height: 50rem;
  width: 30rem;
}

.bg-contactus {
  background-image: url("../src/assets/img/helpcenter.svg");
  background-size: contain;
}

input {
  appearance: none;
  border-radius: 0;
}

input[type=text] {
  font-size: 1.8rem;
}

.formBox__card {
  font-size: 1.8rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
  padding: 0.75rem;
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url("https://assets.codepen.io/285131/coffee_1.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 5%;
  position: relative;
}

.card-heading {
  position: absolute;
  left: 10%;
  top: 15%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #735400;
  line-height: 1.222;
}
.card-heading small {
  display: block;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: 0.25em;
}

.card-form {
  padding: 2rem 1rem 0;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}
.input + .input {
  margin-top: 1.5rem;
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 0.5rem;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
.input-field:focus, .input-field:valid {
  outline: 0;
  border-bottom-color: #5dc6f1;
}
.input-field:focus + .input-label, .input-field:valid + .input-label {
  color: #5dc6f1;
  transform: translateY(-1.5rem);
}

.action {
  margin-top: 2rem;
}

.action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #5dc6f1;
  border-radius: 6px;
  color: #fff;
  border: 0;
}
.action-button:focus {
  outline: 0;
}

.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}
.card-info a {
  display: block;
  color: #5dc6f1;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
